h1, h3, h3, .masthead p, .subhead p, .marketing h2
{
	font-family: "Helvetica Neue",Helvetica,'microsoft yahei ui', 'microsoft yahei','simhei',Arial,sans-serif;
	font-weight: normal;
}

.label
{
	padding:3px 6px;
	font-weight:normal;
}

canvas
{
	border:solid 1px #ddd; border-radius: 5px;
}

.table .progress
{
	margin-bottom:0px;
}

.table
{
	/*margin-top:10px;*/
}

.table td
{
	font-size:12px;
	padding:5px;
}

.table .btnDel, .table .btnEdit, .table .btnClone, .table .btnTest
{
	background-color:#eee;
	padding:1px 3px;
	border-radius: 3px;
	border:solid 1px #ccc;
	margin-right:3px;
}

.table .btnDel:hover, .table .btnEdit:hover, .table .btnClone:hover, .table .btnTest:hover
{
	background-color:#fff;
	border:solid 1px #888;
	text-decoration:none;
}

.table .btnDel
{
	color:#f00;
}

.table .btnEdit
{
	color:#00f;
}

.table .btnClone
{
	color:#00d;
}

.table .btnTest
{
	color:#00d;
}

.table thead
{
	background-color:#eef;
}

.form-horizontal .control-group 
{
	margin-bottom:10px;
}

.nav-tabs>li:first-child
{
	margin-left:10px;
}

#divMsgAlert .modal-body, #divMsgConfirm .modal-body
{
	min-height:100px;
}

.navbar{min-height:30px;}
.navbar-nav > li > a{padding:10px;}
.navbar-brand{padding:10px;}

/* Sidenav for Docs
-------------------------------------------------- */
.bs-docs-sidebar
{
	margin-bottom:20px;	
}

.bs-docs-sidenav {
  margin: 0;
  padding: 0;
  background-color: #fff;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
     -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
          box-shadow: 0 1px 4px rgba(0,0,0,.065);
}
.bs-docs-sidenav > li > a {
  display: block;
  width: 190px \9;
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #e5e5e5;
}
.bs-docs-sidenav > li:first-child > a {
  -webkit-border-radius: 6px 6px 0 0;
     -moz-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;
}
.bs-docs-sidenav > li:last-child > a {
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
}
.bs-docs-sidenav > .active > a {
  position: relative;
  z-index: 2;
  padding: 9px 15px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
  -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
     -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
          box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}
/* Chevrons */
.bs-docs-sidenav .icon-chevron-right {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  opacity: .25;
}
.bs-docs-sidenav > li > a:hover {
  background-color: #f5f5f5;
}
.bs-docs-sidenav a:hover .icon-chevron-right {
  opacity: .5;
}
.bs-docs-sidenav .active .icon-chevron-right,
.bs-docs-sidenav .active a:hover .icon-chevron-right {
  background-image: url(../img/glyphicons-halflings-white.png);
  opacity: 1;
}


.disabled_area{opacity: 0.5;color:#ccc;}
.disabled_area .btn{background-color:#ccc;background-image:none;}
.disabled_area .label{background-color:#ccc;}